<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="RedisMasterServerUrl" value="localhost:6379" />
    <add key="RedisSlave1ServerUrl" value="localhost:6380" />
  </appSettings>

  <startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>
</configuration>
